.Forth
{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 50px;
    .Right
    {
        display: flex;
        flex-direction: column;
      h1 {
        font-family: "Raleway", sans-serif;
        color: white;
        margin-top: 6rem;
        font-size: 3em;
        margin-bottom: 20px;
      }
      p
      {
        font-size: 1.15em;
        line-height: 1.5em;
        color: white;
        opacity: 0.8;
        margin-bottom: 15px;
      }
      a
      {
        font-size: 1.15em;
        line-height: 1.5em;
        color: rgb(98, 224, 217);
      }
    }
}